body
{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
.main
{
  height: 100vh;
  width: 100%;
  background-image:url("pro02.jpg");
  background-size:contain;
  background-origin: inherit;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
#logo
{
    width: 100px;
    height: 100px;
}
nav
{
  
 margin-right: 9px;
}
li
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25px;
     text-align: center;
    float: right;
    padding: 9px; 
}
a:hover{
    text-decoration:dashed;
    color: rgb(255, 213, 0);
}
h1{
    display: inline-block;
    color:aliceblue;
    text-align: center;
    font-size: xx-large;
    vertical-align: middle;
    padding-top: 2%;
    margin-left: 15%
}
#slogan
{
    text-align: center;
    
    

}
#slogan:hover
{
    text-decoration: underline;

}

.box2
{
    height: 100vh;
    width: 100%;
    background-image:url("op.avif");
    background-size:contain;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.content
{
    font-size: x-large;
    text-align: center;
    color: rgb(242, 143, 23);
    padding-top:5%; 
}
footer {
    
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
   
  }